@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;    
}
/* tags */
body {
    color: red; 
  
}

h1, h2 {
    font-family: "Bangers", cursive;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  
  }
  h1:hover, h2:hover {
    cursor: context-menu;
    color: #243F4F;
  }

h3 {
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

h4 {
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
  margin: 0px auto;
}
h4:hover {
  cursor: context-menu;
  color: #243F4F;
}

p {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}


nav ul {
  /* background-color: #F5402A; */
  background: linear-gradient(to right, #F5402A, black);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;

} 
nav ul li {
  padding: 10px;
}
nav ul li a {
  text-decoration: none;  
  font-family: "Staatliches", cursive;
  font-size: 20px;
  color: white;
}
nav ul li a:hover {
  color: #243F4F;
}


/* classes */
.section1 {
  background-image: url("../img/rhcp12.jpg"); 
  background-size: cover;
  background-attachment: fixed;

}

.section2 {
  background-image: url("../img/rhcp14.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}

.imgDiscografia {
  display: flex;
  flex-wrap: wrap;
}

.footerAlign {
  background: linear-gradient(to left, #F5402A, black);
  height: 100%;
  text-align: center;
}

.footerIcon {
  width: 40px;
  margin: 10px 0px;
} 

.div1 {
  text-align: center;
  padding: 20px;
}

.div2 {
  text-align: center;
  padding: 20px;
}
.div3 {
  text-align: center;
  padding: 20px;
}
.div4 {
  text-align: center;
  padding: 20px;
}

.showsMain {
  background-image: url("../img/rhcpLogo2.jpg");
  background-size: cover;
}

.formContacto {
  display: flex;
  flex-direction: row;
  align-items: strech;
  justify-content: space-around;
  margin: auto;
  padding: 30px 50px;
  width: 70%;
}
.insideForm {
  display: flex;
  flex-direction: column;
  align-items:normal;
  margin: auto;
}

.divForm {
  padding: 0 50px;
}

.divIframe {
  padding: 0 50px;
}
